name: Beginner CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install packages
        run: npm install

      - name: Build
        run: npm run build

      - name: Test
        run: npm test

      - name: Quality check
        run: npm run lint

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: dist/

  cd:
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Deploy step
        run: echo "Application deployed"
